{% extends "base.html" %}
{% block main_content %}
    <!-- Page header -->
    <header>
        <h1> DishDash </h1>
        <p> Discuss meals anonymously with other students!</p>
    </header>
    
    <!-- Main content -->
    <main>
        <section>
        <h2>Welcome to DishDash!</h2>
        <p>Here, you can share your thoughts on the meals served on campus and read what others have to say. Feel free to post your comments anonymously and engage in discussions about your dining experiences!</p>
        </section>
    </main>
{% endblock %}